*{
    font-family: sans-serif;
    text-decoration: none;
    border-style: none;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
div.box1{
    width: 100%;
    height: 400px;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}
div.picture{
    width: 100px;
    height: 300px;
    margin-top: 50px;
    margin-left: 150px;
}
img{
    width: 100%;
    height: 100%;
}
h2.intro{
    width: 50%;
    margin-left: 50px;
    margin-top: 150px;
}
div.box2{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
div.order{
    margin-left: 200px;
    margin-top: 50px;
    width:20%;
}
div.first{
    padding: 10px;
    margin-top: 20px;
    width: fit-content;
    border: 2px solid burlywood;
}
a{
   color: burlywood;
}
a:hover,.first:hover{
    cursor: pointer;
    color: chocolate;
}
div.words{
    margin-left: 50px;
    width: 60%;
}
h1.words,p.words{
    margin-top: 30px;
}
div.box3{
    width:100%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
div.deets,div.funhome,div.service{
    padding: 20px;
    width: 25%;
}
div.box4{
    width: 100%;
    height: 50px;
    background-color: black;
}
